* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  margin-left: 5px;
}

.main--header {
  display: flex;
  align-items: center;
  height: 65px;
  background: #0964add3;
  color: white;
  padding: 20px;
}

.label--form {
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #1b1e20;
}

.input--form {
  margin-top: 4px;
  margin-bottom: 4px;
}

.link--student {
  color: #1b1e20;
  background: transparent;
  border-color: #343a40;
  cursor: pointer;
  border-width: 1px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}

.title {
  color: grey;
  font-size: 18px;
}

.button--update {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

img {
  width: 100%;
}

.upload--button {
  margin-top: 10px;
  margin-bottom: auto;
}

.buttons {
  margin-top: 5%;
  margin-left: 28%;
  margin-right: 28%;
  align-items: center;
}

.main--button {
  font-size: 22px;
  padding: 14px 38px;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: #0964add3;
  color: white;
}

.main--button:hover {
  background-color: white;
  color: black;
}

.modal-footer {
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;
}

.select {
  max-width: fit-content;
  max-height: fit-content;
  font-size: 10px;
}

.input--search {
  width: 170px;
  height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.button--enroll {
  margin-bottom: 20px;
}

.rounded--enroll {
  margin-left: 10px;
}

.rounded--back {
  margin-top: 17px;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 10px;
  transition-duration: 0.4s;
  background-color: #0964add3;
  color: white;
}

.rounded--remove {
  margin-left: 10px;
}

.dep--rem {
  margin-top: 7px;
  margin-bottom: 7px;
}